<form [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
  <div formArrayName="listadoEventos" class="well well-lg">
    <div *ngFor="let evento of listadoEventos.controls; let i=index" [formGroupName]="i" >
      <mat-divider></mat-divider>
      <h3>EVENTO #{{i + 1}}</h3>
      <div style="margin-left: 1em;">
        <mat-list class="app-class">
          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Hora: " formControlName="hora">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Informado por: " formControlName="informante">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field>
              <mat-select placeholder="Area afectada: " formControlName="area">
                <mat-option *ngFor="let area of areas" [value]="area">
                  {{ area }}
                </mat-option>
              </mat-select>
            </mat-form-field>    

          </mat-list-item>

          <mat-list-item>
              <mat-form-field>
                <mat-select placeholder="Programa: " formControlName="programa">
                  <mat-option *ngFor="let programa of programas" [value]="programa">
                    {{ programa }}
                  </mat-option>
                </mat-select>
              </mat-form-field>    
  
            </mat-list-item>

          <mat-list-item>
            <mat-form-field>
              <mat-select placeholder="Tipo de Falla: " formControlName="falla">
                <mat-option *ngFor="let falla of fallas" [value]="falla">
                  {{ falla }}
                </mat-option>
              </mat-select>
            </mat-form-field>    
          </mat-list-item>
          <mat-list-item>
            <mat-card class="example-form">
              <mat-card-header>
                <mat-card-title><h4>Plataformas</h4></mat-card-title>
              </mat-card-header>
              <mat-accordion>

                <mat-expansion-panel>
                  <mat-expansion-panel-header  class="right-aligned-header">
                    <mat-panel-title>
                      MAM
                    </mat-panel-title>
                    <mat-panel-description>
                      <!-- Seleccionar -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                      <mat-option *ngFor="let mamfalla of mamfallas" [value]="mamfalla">
                        {{ mamfalla.falla }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>  
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      PAM
                    </mat-panel-title>
                    <mat-panel-description>
                      <!-- Seleccionar -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                      <mat-option *ngFor="let pamfalla of pamfallas" [value]="pamfalla">
                        {{ pamfalla.falla }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>  
                </mat-expansion-panel>      
                
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        EDICION
                      </mat-panel-title>
                      <mat-panel-description>
                        <!-- Seleccionar -->
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                      <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                        <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                          {{ edicionfalla.falla }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>  
                  </mat-expansion-panel>                    
                
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          POST AUDIO
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let postaudiofalla of postaudiofallas" [value]="postaudiofalla">
                            {{ postaudiofalla.falla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                    
                
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            CONECTIVIDAD
                          </mat-panel-title>
                          <mat-panel-description>
                            <!-- Seleccionar -->
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                          <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                            <mat-option *ngFor="let conectividadfalla of conectividadfallas" [value]="conectividadfalla">
                              {{ conectividadfalla.falla }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>  
                      </mat-expansion-panel>                    
                
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              DATA CENTER
                            </mat-panel-title>
                            <mat-panel-description>
                              <!-- Seleccionar -->
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <mat-form-field>
                            <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                              <mat-option *ngFor="let datacenterfalla of datacenterfallas" [value]="datacenterfalla">
                                {{ datacenterfalla.falla }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>  
                        </mat-expansion-panel>                    
                
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                OPERACION
                              </mat-panel-title>
                              <mat-panel-description>
                                <!-- Seleccionar -->
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-form-field>
                              <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                <mat-option *ngFor="let operacionfalla of operacionfallas" [value]="operacionfalla">
                                  {{ operacionfalla.falla }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>  
                          </mat-expansion-panel>                    
                
                          <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  GRAFICA
                                </mat-panel-title>
                                <mat-panel-description>
                                  <!-- Seleccionar -->
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <mat-form-field>
                                <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                  <mat-option *ngFor="let graficafalla of graficafallas" [value]="graficafalla">
                                    {{ graficafalla.falla }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>  
                            </mat-expansion-panel>                    
                
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    TRANSCODIFICACION
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    <!-- Seleccionar -->
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-form-field>
                                  <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                    <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                      {{ edicionfalla.falla }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>  
                              </mat-expansion-panel>                    
                
                              <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      CODIFICACION
                                    </mat-panel-title>
                                    <mat-panel-description>
                                      <!-- Seleccionar -->
                                    </mat-panel-description>
                                  </mat-expansion-panel-header>
                                  <mat-form-field>
                                    <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                      <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                        {{ edicionfalla.falla }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>  
                                </mat-expansion-panel>     

                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        13 ESTUDIOS
                                      </mat-panel-title>
                                      <mat-panel-description>
                                        <!-- Seleccionar -->
                                      </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <mat-form-field>
                                      <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                        <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                          {{ edicionfalla.falla }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>  
                                  </mat-expansion-panel>                                                                           
                                  <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                          INGESTA
                                        </mat-panel-title>
                                        <mat-panel-description>
                                          <!-- Seleccionar -->
                                        </mat-panel-description>
                                      </mat-expansion-panel-header>
                                      <mat-form-field>
                                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                          <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                            {{ edicionfalla.falla }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>  
                                    </mat-expansion-panel>   

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                              EMISION AUTOMATIZADA
                                          </mat-panel-title>
                                          <mat-panel-description>
                                            <!-- Seleccionar -->
                                          </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-form-field>
                                          <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                            <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                              {{ edicionfalla.falla }}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>  
                                      </mat-expansion-panel>   
                                      <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                INEWS
                                            </mat-panel-title>
                                            <mat-panel-description>
                                              <!-- Seleccionar -->
                                            </mat-panel-description>
                                          </mat-expansion-panel-header>
                                          <mat-form-field>
                                            <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                              <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                                {{ edicionfalla.falla }}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>  
                                        </mat-expansion-panel>   

                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                              <mat-panel-title>
                                                  TRANSMISION
                                              </mat-panel-title>
                                              <mat-panel-description>
                                                <!-- Seleccionar -->
                                              </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <mat-form-field>
                                              <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                                <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                                  {{ edicionfalla.falla }}
                                                </mat-option>
                                              </mat-select>
                                            </mat-form-field>  
                                          </mat-expansion-panel>   

                                          <mat-expansion-panel>
                                              <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    RECEPCION DE CONTENIDOS
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                  <!-- Seleccionar -->
                                                </mat-panel-description>
                                              </mat-expansion-panel-header>
                                              <mat-form-field>
                                                <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                                  <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                                    {{ edicionfalla.falla }}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>  
                                            </mat-expansion-panel>   

                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                  <mat-panel-title>
                                                      LIBRERIAS MUSICALES
                                                  </mat-panel-title>
                                                  <mat-panel-description>
                                                    <!-- Seleccionar -->
                                                  </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <mat-form-field>
                                                  <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                                    <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                                      {{ edicionfalla.falla }}
                                                    </mat-option>
                                                  </mat-select>
                                                </mat-form-field>  
                                              </mat-expansion-panel>   

                                              <mat-expansion-panel>
                                                  <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        OTRAS
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                      <!-- Seleccionar -->
                                                    </mat-panel-description>
                                                  </mat-expansion-panel-header>
                                                  <mat-form-field>
                                                    <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                                      <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                                        {{ edicionfalla.falla }}
                                                      </mat-option>
                                                    </mat-select>
                                                  </mat-form-field>  
                                                </mat-expansion-panel>   

                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                      <mat-panel-title>
                                                          ELECTRICIDAD
                                                      </mat-panel-title>
                                                      <mat-panel-description>
                                                        <!-- Seleccionar -->
                                                      </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                    <mat-form-field>
                                                      <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                                                        <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                                                          {{ edicionfalla.falla }}
                                                        </mat-option>
                                                      </mat-select>
                                                    </mat-form-field>  
                                                  </mat-expansion-panel>   
              </mat-accordion>
            </mat-card>
          </mat-list-item>          
          <mat-list-item>
            <mat-form-field class="example-form">
              <textarea matInput placeholder="Descripcion del evento: " formControlName="descripcion"></textarea>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="example-form">
              <textarea matInput placeholder="Descripcion de la solucion: " formControlName="solucion"></textarea>
            </mat-form-field>
          </mat-list-item>

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            <div fxFlex="50%">
              <mat-card class="card-central">
                <mat-list-item>
                  <label class="center-block">Estado:
                    <mat-radio-group class="example-radio-group" formControlName="estado">
                      <mat-radio-button class="example-radio-button" *ngFor="let estado of estados" [value]="estado">
                        {{estado}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </label>
                </mat-list-item>
              </mat-card>
            </div>
            <div fxFlex="50%">
              <mat-card class="card-central">
                <mat-list-item>
                  <label class="center-block">Responsable:
                    <mat-radio-group class="example-radio-group" formControlName="responsabilidad">
                      <mat-radio-button class="example-radio-button" *ngFor="let responsabilidad of responsabilidades" [value]="responsabilidad">
                        {{responsabilidad}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </label>
                </mat-list-item>
              </mat-card>
            </div>
          </div>

        </mat-list>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-actions align="left">
    <button mat-raised-button color="primary" (click)="agregarEvento()" type="button">Agregar evento</button>
  </mat-card-actions>
  <mat-card-actions align="right">
    <button mat-raised-button color="primary" type="submit">Generar Informe</button>
  </mat-card-actions>
</form>