.center{
    width: 75%;
    margin: 10px auto;
    justify-content: left;
  }

  .izquierda{
    text-align: left;
  }

  .mat-content > mat-panel-title, .mat-content > mat-panel-description {
    flex: 0 0 auto;
  }
  
  .mat-row:hover {
    background-color: lightsalmon;
  }