<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="50%">
    <div class="container-form" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="100%">
        <mat-card class="card-central">
          <mat-card-header>
            <mat-list>
              <mat-list-item>
                <mat-card-title>
                  <h2>Creacion de Incidente</h2>
                </mat-card-title>
              </mat-list-item>
            </mat-list>
          </mat-card-header>
          <mat-divider></mat-divider>
          <form [formGroup]="incidenciaForm" (ngSubmit)="onSubmit()">
            <mat-list class="app-class">
              <mat-list-item>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Fecha Incidente" formControlName="fecha">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>              
              </mat-list-item>
              <mat-list-item>
                <mat-form-field>
                    <mat-select placeholder="Responsable" formControlName="respevento">
                      <mat-option *ngFor="let responsable of responsables" [value]="responsable.nombre">
                        {{ responsable.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>             
              </mat-list-item>
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                <div fxFlex="33%">
                  <mat-list-item>
                    <mat-form-field>
                      <input matInput placeholder="Hora: " formControlName="hora">
                    </mat-form-field>
                  </mat-list-item>
                </div>
                <div fxFlex="33%">
                  <mat-list-item>
                    <mat-form-field>
                      <input matInput placeholder="Informado por: " formControlName="informante">
                    </mat-form-field>
                  </mat-list-item>
                </div>
                <div fxFlex="33%">
                  <mat-list-item>
                    <mat-form-field>
                      <mat-select placeholder="Nivel: " formControlName="nivel">
                        <mat-option *ngFor="let nivel of niveles" [value]="nivel">
                          {{ nivel }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-list-item>
                </div>
              </div>
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                <div fxFlex="33%">          
                  <mat-list-item>
                    <mat-form-field>
                      <mat-select placeholder="Area afectada: " formControlName="area">
                        <mat-option *ngFor="let area of areas" [value]="area">
                          {{ area }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>    
                  </mat-list-item>
                </div>
                <div fxFlex="33%">          
                  <mat-list-item>
                    <mat-form-field>
                      <mat-select placeholder="Programa: " formControlName="programa">
                        <mat-option *ngFor="let programa of programas" [value]="programa">
                          {{ programa }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>    
                  </mat-list-item>
                </div>
                <div fxFlex="33%">          
                  <mat-list-item>
                    <mat-form-field>
                      <mat-select placeholder="Tipo de Falla: " formControlName="tipofalla">
                        <mat-option *ngFor="let tipofalla of tipofallas" [value]="tipofalla">
                          {{ tipofalla }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>    
                  </mat-list-item>
                </div>
              </div>
              <div class="alinear-center">
              <mat-list-item class="alinear-center">
                <mat-card class="example-form">
                  <mat-card-header>
                    <mat-card-title><h4>Plataformas</h4></mat-card-title>
                  </mat-card-header>
                  <mat-accordion>

                    <mat-expansion-panel>
                      <mat-expansion-panel-header  class="right-aligned-header">
                        <mat-panel-title>MAM</mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let mamfalla of mamfallas" [value]="mamfalla">
                            {{ mamfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>
  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          PAM
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let pamfalla of pamfallas" [value]="pamfalla">
                            {{ pamfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>      
                  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          EDICION
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let edicionfalla of edicionfallas" [value]="edicionfalla">
                            {{ edicionfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                    
                  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          POST AUDIO
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let postaudiofalla of postaudiofallas" [value]="postaudiofalla">
                            {{ postaudiofalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                    
                
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          CONECTIVIDAD
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let conectividadfalla of conectividadfallas" [value]="conectividadfalla">
                            {{ conectividadfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                    
                
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          DATA CENTER
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let datacenterfalla of datacenterfallas" [value]="datacenterfalla">
                            {{ datacenterfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                    
                
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          OPERACION
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let operacionfalla of operacionfallas" [value]="operacionfalla">
                            {{ operacionfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                    
                
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          GRAFICA
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let graficafalla of graficafallas" [value]="graficafalla">
                            {{ graficafalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                    
          
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          TRANSCODIFICACION
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let transcodificacionfalla of transcodificacionfallas" [value]="transcodifcacionfalla">
                            {{ transcodificacionfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                    
      
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          CODIFICACION
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let codificacionfalla of codificacionfallas" [value]="codificacionfalla">
                            {{ codificacionfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>     
  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          13 ESTUDIOS
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let estudios13falla of estudios13fallas" [value]="estudios13falla">
                            {{ estudios13falla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>                                                                           
                     
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          INGESTA
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let ingestafalla of ingestafallas" [value]="ingestafalla">
                            {{ ingestafalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>   
  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            EMISION AUTOMATIZADA
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let emisionautofalla of emisionautofallas" [value]="emisionautofalla">
                            {{ emisionautofalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>   
                    
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            INEWS
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let inewsfalla of inewsfallas" [value]="inewsfalla">
                            {{ inewsfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>   
  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            TRANSMISION
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let transmisionfalla of transmisionfallas" [value]="transmisionfalla">
                            {{ transmisionfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>   
  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            RECEPCION DE CONTENIDOS
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let recepcioncontefalla of recepcioncontefallas" [value]="recepcioncontefalla">
                            {{ recepcioncontefalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>   
  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            LIBRERIAS MUSICALES
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let libreriamusicalfalla of libreriamusicalfallas" [value]="libreriamusicalfalla">
                            {{ libreriamusicalfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>     
  
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            ELECTRICIDAD
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let electricidadfalla of electricidadfallas" [value]="electricidadfalla">
                            {{ electricidadfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            OTRAS
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- Seleccionar -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de Falla: " formControlName="plataforma">
                          <mat-option *ngFor="let otrasfalla of otrasfallas" [value]="otrasfalla">
                            {{ otrasfalla.itemfalla }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                    </mat-expansion-panel>    

                  </mat-accordion>
                </mat-card>
              </mat-list-item>   
              </div>       
              <mat-list-item>
                <mat-form-field class="example-form">
                  <textarea matInput placeholder="Descripcion del evento: " formControlName="descripcion"></textarea>
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field class="example-form">
                  <textarea matInput placeholder="Descripcion de la solucion: " formControlName="solucion"></textarea>
                </mat-form-field>
              </mat-list-item>
  
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                <div fxFlex="50%">
                  <mat-list-item>
                    <label class="center-block">Estado:
                      <mat-radio-group class="example-radio-group" formControlName="estado">
                        <mat-radio-button class="example-radio-button" *ngFor="let estado of estados" [value]="estado" align="left">
                          {{estado}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </label>
                  </mat-list-item>
                </div>
                <div fxFlex="50%">
                  <mat-list-item>
                    <label class="center-block">Atención:
                      <mat-radio-group class="example-radio-group" formControlName="atencion">
                        <mat-radio-button class="example-radio-button" *ngFor="let atencion of atenciones" [value]="atencion" align="left">
                          {{atencion}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </label>
                  </mat-list-item>
                </div>
              </div>
  
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                <div fxFlex="50%">
                  <mat-list-item>
                    <mat-form-field>
                      <input matInput placeholder="Responsable Operacion: " formControlName="respoperacion">
                    </mat-form-field>
                  </mat-list-item>
                </div>
                <div fxFlex="50%">
                  <mat-list-item>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker2" placeholder="Fecha de Resolucion" formControlName="fechares">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>              
                  </mat-list-item>
                </div>
                
              </div>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-card-actions align="center">
              <mat-checkbox color="primary" class="alinear-left" [(ngModel)]="doEnviar" [ngModelOptions]="{standalone: true}">Enviar por correo</mat-checkbox>
              <button mat-raised-button color="primary" type="submit">Guardar</button>
              <!-- <button mat-raised-button color="primary" (click)="guardarEvento()" type="submit">Guardar</button> -->
            </mat-card-actions>
          </form>
        </mat-card>

      </div>
      <!-- <div fxFlex="50%"> -->
        <!-- <mat-card class="card-central">
          <mat-card-header>
            <mat-list>
              <mat-list-item>
                <mat-card-title>
                  <h2>Detalle Incidente</h2>
                </mat-card-title>
              </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-list>
              <mat-list-item>
                <mat-card-title>Fecha: {{ incidencia.fecha }} {{ incidencia.hora }}</mat-card-title>
              </mat-list-item>
              <mat-list-item>
                <mat-card-title>Responsable: {{ incidencia.respevento }}</mat-card-title>
              </mat-list-item>
              <mat-list-item>
                <mat-card-title>Quien Informa: {{ incidencia.informante }}</mat-card-title>
              </mat-list-item>
            </mat-list>
          </mat-card-header>
          <mat-card-content class="center">
            <mat-list>
              <mat-list-item>
                <h3 matLine> {{incidencia.area}} </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine> {{incidencia.programa}} </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine> {{incidencia.nivel}} </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine> {{incidencia.tipofalla}} </h3>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                  <h3 matLine> {{incidencia.plataforma.nombre}} </h3>
                  <h3 matLine> {{incidencia.plataforma.itemfalla}} </h3>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h3 matLine> {{incidencia.descripcion}} </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine> {{incidencia.solucion}} </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine> {{incidencia.estado}} </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine> {{incidencia.fechares}} </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine> {{incidencia.atencion}} </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine> {{incidencia.impacto}} </h3>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>MODIFICAR</button>
          </mat-card-actions>
        </mat-card> -->
      <!-- </div> -->
    </div>
  </div>
  <div fxFlex="50%">
    <mat-card class="card-central">
      <mat-card-header>
        <mat-list>
          <mat-list-item>
            <mat-card-title>
              <h2>Listado de Incidentes</h2>
            </mat-card-title>
          </mat-list-item>
        </mat-list>
      </mat-card-header>
      <mat-divider></mat-divider>
      <!-- <a *ngFor="let incidencia of incidencias | async" (click)="detalle(informe)">{{incidencia.respeventos}}</a> -->
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let incidencia"> {{incidencia.fecha | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="respevento">
          <mat-header-cell *matHeaderCellDef> Responsable </mat-header-cell>
          <mat-cell *matCellDef="let incidencia"> {{incidencia.respevento}} </mat-cell>
        </ng-container>        
        <ng-container matColumnDef="area">
          <mat-header-cell *matHeaderCellDef> Area </mat-header-cell>
          <mat-cell *matCellDef="let incidencia"> {{incidencia.area}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nivel">
          <mat-header-cell *matHeaderCellDef> Nivel </mat-header-cell>
          <mat-cell *matCellDef="let incidencia"> {{incidencia.nivel}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="plataforma">
          <mat-header-cell *matHeaderCellDef> Plataforma </mat-header-cell>
          <mat-cell *matCellDef="let incidencia"> {{incidencia.plataforma.nombre}} </mat-cell>
        </ng-container>        
        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let incidencia"> {{incidencia.estado}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="atencion">
          <mat-header-cell *matHeaderCellDef> Atencion </mat-header-cell>
          <mat-cell *matCellDef="let incidencia"> {{incidencia.atencion}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="filaSeleccionada(row)"></mat-row>
      </mat-table>
    </mat-card>
  </div>
</div>

